@import "./reset.css";

.container {
  max-width: min(100% - 30px, 1240px);
  margin-inline: auto;
}

main {
  font-family: monospace;
  min-height: 100dvh;
  background: rgba(0, 0, 0, 0.6) url(../media/background.jpg) no-repeat center/cover;
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
}

.main-paragraph {
  color: rgb(255, 255, 255);
  font-size: 3.2rem;
  padding-inline: 10rem;
  font-weight: 500;
}

.main-paragraph span:nth-child(even) {
  color: #ff6c29;
}

.main-paragraph span:nth-child(odd) {
  color: #67f65d;
}
